* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;

    /* FUNDO GRADIENTE BONITO */
    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2,
        #ff6ec4
    );
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    color: white;
}

/* animação suave no fundo */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* Container do feed */
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Card estilo Instagram */
.card {
    background: white;
    color: black;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 40px;
    opacity: 0.8;
}
body {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #924da1,
        #764ba2,
        #5c0238
    );
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;

    color: white;

    /* MAIS ESPAÇO ENTRE LINHAS */
    line-height: 1.8;
}
.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: white;
}