body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #555;
}

/* Container do feed */
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Card estilo Instagram */
.card {
    background: white;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card h3 {
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}